:root {
  --cursor-color: #7d15df;
  --background-color:  #000000;
  --text-color: #fff
}

body { 
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  background: var(--background-color);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: inline-block;
}

.typed {
  overflow: hidden;
  color:var(--text-color);
  font-size: 2rem;
  white-space: nowrap;
  border-right: 4px solid var(--cursor-color);
  font-family: monospace, serif;
  letter-spacing: .15em;
}

@keyframes typing {
  from { width: 0; }
  to { width:  100%; }
}

@keyframes blinking {
  from, to {border-color: transparent;}
  50% {border-color: var(--cursor-color);}
}
